@import "tailwindcss";

@theme {
  /* Vesta Brand Colors */
  --color-vesta-black: #050505;
  --color-vesta-gold: #D4AF37;
  --color-vesta-gold-light: #F3E5AB;
  --color-vesta-accent: #1A1A1A;
  
  /* Luxury Typography */
  --font-serif: "Times New Roman", serif; /* Or any premium serif font */
}

:root {
  background-color: var(--color-vesta-black);
  color: white;
}

/* Custom Scrollbar for the Elite look */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-vesta-gold);
}